@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1967D2;
  --color-secondary: #E2EAF8;
}

*{
  font-family: "Jost", sans-serif;
}

ul li a.active{
  color: #1967D2;
  text-decoration: underline;
  font-weight: bold;
}